@page
@model BookTrackingWeb.Pages.BookReadTracksModel

@{
    ViewData["Title"] = "BookReadTracks";
}

<div class="grid-box">
    <div class="grid-heading">
        <h4>Add/Edit Book Read Tracks</h4>
    </div>
    <!-- Grid Heading Ends -->
</div>
<div class="grid-inner">
    <form method="post">
        <div class="form-row">
            <div class="row min-ht-sf">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-4 custom-col col-xs-12">
                    <label asp-for="bookReadTrack.BookReadDate" class="control-label"></label>
                    <input asp-for="bookReadTrack.BookReadDate" placholder="Book Read Date" class="form-control edit-status" />
                    <span asp-validation-for="bookReadTrack.BookReadDate" class="text-danger"></span>
                </div>
                <div class="col-md-4 custom-col col-xs-12">
                    <label asp-for="bookReadTrack.BookTotalPage" class="control-label"></label>
                    <input asp-for="bookReadTrack.BookTotalPage" placholder="Book Total Page" class="form-control edit-status" />
                    <span asp-validation-for="bookReadTrack.BookTotalPage" class="text-danger"></span>
                </div>
                <div class="col-md-4 custom-col col-xs-12">
                    <label asp-for="bookReadTrack.BookFromPage" class="control-label"></label>
                    <input asp-for="bookReadTrack.BookFromPage" placholder="Book From Page" class="form-control edit-status" />
                    <span asp-validation-for="bookReadTrack.BookFromPage" class="text-danger"></span>
                </div>
                <div class="col-md-4 custom-col col-xs-12">
                    <label asp-for="bookReadTrack.BookToPage" class="control-label"></label>
                    <input asp-for="bookReadTrack.BookToPage" placholder="Book To Page" class="form-control edit-status" />
                    <span asp-validation-for="bookReadTrack.BookToPage" class="text-danger"></span>
                </div>
                <div class="col-md-4 custom-col col-xs-12">
                    <label asp-for="bookReadTrack.BookId" class="control-label"></label>
                    <select asp-for="bookReadTrack.BookId" placholder="" class="form-control edit-status" asp-items="ViewBag.BookId"></select>
                </div>
                <div class="col-md-4 custom-col col-xs-12">
                    <input type="hidden" asp-for="bookReadTrack.BookReadTrackId" />
                    <button style="margin-top: 25px" id="addButton" type="submit" class="btn green-btn"> Save</button>
                    <a style="margin-top: 25px" class="btn red-btn" asp-page="/BookReadTracks">Cancel</a>
                </div>
            </div>


        </div>
    </form>
</div>
<!--List Of Book Tracks-->
<div class="grid-box">
    <div class="grid-heading">
        <h4>Book Tracks List</h4>
    </div>
    <div class="grid-inner">

        <!-- Form Row Ends -->

        <div class="form-row">
            <div class="row">
                <div class="col-md-12 col-xs-12 table-col">
                    <div class="table-responsive">
                        <table class=" table table-bordered table-stripped">
                            <thead>
                                <tr>
                                    <th>Book Title</th>
                                    <th>Book Read Date</th>
                                    <th>Book Total Page</th>
                                    <th>Book From Page</th>
                                    <th>Book To Page</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < Model.BookTrackList.Count; i++)
                                {
                                    var item = Model.BookTrackList[i];
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Book.BookTitle)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BookReadDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BookTotalPage)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BookFromPage)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BookToPage)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" class="btn green-btn-add" asp-route-id="@item.BookReadTrackId"><i class="fa fa-edit"></i></a> |
                                            <a asp-action="Delete" class="btn red-btn-add" asp-route-id="@item.BookReadTrackId"><i class="fa fa-trash"></i></a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- Table Ends -->
                </div>
            </div>
        </div>
        <!-- Form Row ENds -->

    </div>
    <!-- Grid Inner Ends -->

</div>

@section Scripts {
    <script type="text/javascript">$(document).ready(function () {
            if (window.location.href.indexOf("Edit") > -1) {
                $('#editInput').prop('disabled', true);
            }
            else if (window.location.href.indexOf("Status") > -1) {
                $('.edit-status').prop('disabled', true);
                $("#addButton").prop('value', 'Update');
            } else {
                $('#editInput').prop('disabled', false);
                $('.edit-status').prop('disabled', false);
            }
        });</script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}